[submodule "examples/streams-pipe"]
	path = examples/streams-pipe
	url = https://github.com/itkoren/Lets-Node-exp-streams-pipe.git
[submodule "examples/callback-hell"]
	path = examples/callback-hell
	url = https://github.com/itkoren/Lets-Node-exp-callback-hell.git
